
// Colors
$dark: #2F4240;
$light: #F7F5F2;
$greenlight: #D9E1CC;
$green: #98AB78;
$greendark: #38524F;

// Screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1441px;

//Font-weights
$weight-regular: 400;
$weight-bold: 700;

//Animation
$ease: cubic-bezier(.5,0,0,1);