.a-propos-intro{
    position: relative;

    &__container{
        padding-right: 1.5rem;

        @media screen and (min-width: $md){
            padding-right: 2rem;
        }
        @media screen and (min-width: $lg){
            padding-right: 3rem;
        }
        @media screen and (min-width: $xl){
            padding-right: calc((100% - 10vw) / 12 + 5vw);
        }
    }

    &::before{
        content: "";
        z-index: -1;
        @apply absolute w-full h-1/6 bg-light top-0 right-0;
    }
}