.produit-single {
	&__image {
		.woocommerce-product-gallery__wrapper img {
			width: 100%;
		}
		ol {
			display: flex;

			li {
				@apply mt-4 ml-4;
				img {
					cursor: pointer;
				}
			}
		}
	}

	&__content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		@media screen and (min-width: $sm) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		@media screen and (min-width: $lg) {
			padding-left: 0;
			padding-right: 3rem;
		}
		@media screen and (min-width: $xl) {
			padding-left: 0;
			padding-right: 5vw;
		}

		.price {
			@apply font-bold text-lg;
		}

		.in-stock {
			display: none;
		}

		input,
		textarea {
			border: 1px solid $greendark;
			padding: 15px 30px;
			border-radius: 10px;
		}

		ul {
			list-style: disc;
			list-style-position: inside;
		}

		.quantity {
			label {
				display: none;
			}
			input {
				border: 1px solid $greendark;
				line-height: 68px;
				padding: 0 0 0 30px;
				border-radius: 10px;
				margin-right: 20px;
			}
		}

		&__description {
			p {
				@apply mb-10;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.cart {
			display: flex;
			align-items: center;
			padding: 10px 0;
			flex-wrap: wrap;

			button {
				@apply text-sm uppercase font-bold inline-block border border-greendark border-opacity-25 rounded-full py-3 px-6 relative;
				transition: background 0.25s;

				@media screen and (min-width: $lg) {
					@apply py-0 px-10;
					line-height: 58px;
				}

				&::before {
					content: "";
					@apply absolute border border-greendark rounded-full;
					width: calc(100% + 12px);
					height: calc(100% + 12px);
					top: -6px;
					left: -6px;
				}

				&:hover {
					@apply bg-greendark bg-opacity-25 border-opacity-0;
				}
			}

			select {
				@apply py-4 px-6 mx-3;
				border-radius: 8px;
				cursor: pointer;
			}
		}

		.woocommerce-variation-add-to-cart-disabled {
			display: none;
		}
		.reset_variations {
			@apply opacity-50 text-sm italic;
		}
		.woocommerce-variation-add-to-cart-enabled {
			display: flex;
		}
		table.variations {
			width: 100%;
			margin-bottom: 20px;
		}

		.woocommerce-notices-wrapper {
			.woocommerce-message {
				@apply border border-greendark border-opacity-25 py-6 px-10 mb-12 rounded-2xl;
			}
			.button {
				@apply font-serif font-bold text-base rounded-xl relative block;
			}
		}
	}

	&__title-container {
		position: relative;
		@apply py-12;
		@media screen and (min-width: $lg) {
			padding: 10vh 0;
		}

		&::before {
			@media screen and (min-width: $lg) {
				content: "";
				@apply h-full absolute bg-light w-1/12 top-0;
				right: 100%;
			}
		}
	}
}
